@tailwind base;
@tailwind components;
@tailwind utilities;

 .banner {
  background-image: url("./Assets/Homepage/Banner.png");
  background-position: center;
  background-size: cover;
 }
.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: crimson;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media screen and (max-width: 600px) {
    .banner {
      background-size: cover;
      background-position: center;
      width: 100vw;
      overflow: hidden;
    }
  }